
# Top level folders
scratch/
greg_task/
docker/
Bai_2024/
figures/
slurm/
Miniforge3/
.cache/
.local/


# Types of files
*/.ipynb_checkpoints/
*.h5ad
*h5ad.zarr
*.sif
psych_screen/test.*
psych_screen/output/testing/
psych_screen/output/bayes_space/*.Rdata
psych_screen/output/bayes_space/jitter/*.Rdata
psych_screen/comparisons/spe_*.Rdata

# Specific Files
clustering_comparison/tmp.txt
chatbot_training_data/gencode.v48.annotation.gtf.gz
