/* Reset some default styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background: #eaeaea;
}

/* Container for the entire app */
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Menu styles */
.menu {
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  flex-shrink: 0; /* Prevent the menu from shrinking */
}

/* Vitessce container styles */
.vitessce-container {
  flex: 1;
  display: flex;
  align-items: stretch;
  background: #f0f0f0;
  padding: 10px;
  overflow: auto; /* Ensure content is scrollable if it overflows */
  min-height: 80vh;
}
 
/* Example button styles */
button {
  padding: 0.375rem 0.88rem;
  color: #333;
  background-color: #ddd;
  border: 1px solid #ddd;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  font-size: 0.85rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background-color: #0069d9;
}

button.active {
  color: #fff;
  background-color: #0069d9;
}

/* Dropdown styles */
.dropdown {
  position: absolute;
  top: 38px;
  left: -1px;
  border: 1px solid rgb(197, 197, 197);
  background: #fff;
  padding: 0;
  color: #0062cc;
  text-align: left;
  border-radius: 0.25rem;
  max-height: 200px; /* Set a max height for the dropdown */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  z-index: 2; /* Ensure the dropdown is on top */
}

.dropdown > p {
  margin: 0;
  padding: 0.375rem 0.88rem;
  border-bottom: 1px solid rgb(235, 235, 235);
  min-width: 140px;
}

.dropdown > p:hover {
  color: #fff;
  background-color: #0062cc;
}

.dropdown > p:last-child {
  border-bottom: 0 none;
}